@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sawarabi-Mincho';
}
body{
    height: 100vh;
    background: black;
}
nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #00ffdd;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}
nav.menu-lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .3s;
}
ul li.item-menu ativo{
    background: #00ffdd;
}
ul li.item-menu:hover{
    background: #00ffdd;
}
ul li.item-menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    transition: .3s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}
ul li.item-menu a.icon > i{
    font-size: 30px;
}